@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
}

:root {
    --color-primary: #1A0B5B;
    --color-pink: #FB2E86;
    --color-hover-card: #2F1AC4;
    --color-secondry-bg: #F9F8FE
}